<div id="sticky-atc" class="sticky-atc hidden">
  <div class="sticky-content">

    <div class="sticky-info">
      <span>{{ product.title }}</span>
      <span id="sticky-variant"></span>
    </div>

    <button id="sticky-add-to-cart">
      Add to Cart
    </button>

  </div>
</div>